body{
	background: #FFF;
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	color: #222;
	overflow-x: hidden;
}

a, a:visited, a:hover, a:active {
	color: #222;
	text-decoration: none;
}

#header{
	display: block;
	position: relative;
	height: 250px;
	width: 100%;
	background: #222;
	background-image: url('../img/tricre_logo.png');
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center, center;
}

#menu{
	position: relative;
	display: block;
	width: 100%;
	padding-right: 10px;
	text-align: right;
	background-color: #222;
	color: #DDD;
	z-index: 300;
}

#menu a{
	color: #DDD;
}

#menu ul{
	margin: 0;
	padding: 10px;
}

#menu ul li{
	display: inline-block;
}

.section{
	display: block;
	width: 100%;
	position: relative;
}

.section-title{
	display: inline-block;
	width: 30%;
	position: absolute;
	left: 0;
	z-index: 200;
}

.section-title .title{
	position: absolute;
	bottom: 50px;
	right: 0px;
	left: 0px;
	text-align: center;
	margin: 0;
	font-family: "Open Sans", sans-serif;
	font-weight: lighter;
	font-size: 50pt;
}

.section-content{
	display: inline-block;
	width: 70%;
	position: relative;
	left: 30%;
	z-index: 100;
}

.title-fixed{
	position: fixed;
}

#about .section-title{
	background: #F05286;
}

#about .section-title .title{
	color: #FFF;
}

#about .section-content{
	background: #FFF;
}

#about .section-content .row{
	padding: 110px;
}

#projects .section-title{
	background: #FFF;
}


#projects .section-content{
	background: #333;
}

#projects .section-content .project{
	margin: 0;
	position: relative;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 110%;
	transition: background-size 2s ease-in;
	-moz-transition: background-size 2s ease-in;
	-ms-transition: background-size 2s ease-in;
	-o-transition: background-size 2s ease-in;
	-webkit-transition: background-size 2s ease-in;
}

#projects .section-content .project:hover{
	background-size: 150%;
	transition: background-size 5s ease-in;
	-moz-transition: background-size 5s ease-in;
	-ms-transition: background-size 5s ease-in;
	-o-transition: background-size 5s ease-in;
	-webkit-transition: background-size 5s ease-in;
}

#projects .section-content .project .project-name{
	margin: 0;
	position:absolute;
	top: 30%;
	color: #F05286;
	font-weight: lighter;
	font-size: 30pt;
	text-align: center;
	width: 100%;
}

#aestudio{
	background-image: url('../img/project_banners/aestudio.png');
}
#haspie{
	background-image: url('../img/project_banners/haspie.png');
}
#freaks{
	background-image: url('../img/project_banners/freaksparty.png');
}
#decision{
	background-image: url('../img/project_banners/decisioncube.png');
}
#illust{
	background-image: url('../img/project_banners/ficontan.png');
}

#portrait{
	max-width: 200px;
	position: absolute;
	right: -100px;
	top: 125px;
	border-radius: 100%;
	border: 10px solid #F05286;
}
